.home_container {
    width: 100%;
}

.home {
    display: flex;
    flex-direction: column;
    /* background-color: #F0F0F0; */
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: center;
    /* border-right: 2px solid #F0F0F0;
    border-left: 2px solid #F0F0F0; */
}

.home_pic {
    margin: .5vw;
    align-content: center;
    justify-content: center;
}

.home_pic img {
    display: flex;
    flex-direction: column;
    /* background-color: #F0F0F0; */
    width: 100%;
    z-index: -1;
}

.imgHome {
    opacity: 85%;
}

.textOnPic {
    color: white;
    position: relative;
    left: 42vw;
    top: -26.25vw;
    font-size: 2.5vw;
    font-weight: bold;
}
.buttonOnPic {
    position: relative;
    left: 50vw;
    top: -7.5vw;
    font-size: 1.5vw;
    padding: .75vw;
    font-weight: bold;
    background-color: #233142;
    color: #7BD4FF;
    border: none;
    border-radius: 8%;
}
.buttonOnPic:hover {
    background-color:#7BD4FF;
    color: black;
}

.homeAboutAndWhy {
    display: flex;
    width: 100%;
    color: black;
    /* background-color: #F0F0F0; */
    margin-top: -5vw;
    line-height: 1.5;
}

.home_about {
    width: 50%;
    margin-top: 1vw;
    padding: .5vw;
}

.homeAboutAndWhy h2 {
    font-size: 1.3vw;
    background-color: #7BD4FF;
    padding: .25vw;
}
.homeAboutAndWhy p {
    font-size: 1vw;  
    padding: .25vw;
}
.homeAboutAndWhy img {
    width: 100%;
}

.home_why {
    width: 50%;
    margin-top: 1vw;
    padding: .5vw 1vw 1vw 1vw;
}


/*
#233142; dark blue/grey
#455d7a; lighter blue/gray
#f95959; red/organge
#e3e3e3; light grey

#FEDCD0 ligter tan.  
#FAC5B1 tan.
#F4A594 tan/brown.
#0F1330 dark blue;
#D76C80 pink;
#C16B86 red pink;
#F58D9A another pink;
#6B5E7C light purple;


#FE5722 orange
#2196F3 light blue
#00579C dark blue
#A127B0 dark purple
#9C28B1 purple
#4CB050 green
#009788 green cool
#00796A dark green
#00BCD5 turquoise blue
#EA1E63 red pink;
#FFEB3C yellow
#FAC02E yellow gold;
#3F97BD nice blue;
#3F97BD blueish;
*/